@media (max-width: 1090px) {
  .container-projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 956px) {
  .container-services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .info {
    & > h1 {
      font-size: 1em;

      & span:nth-of-type(2) {
        font-size: 3rem;
      }
    }
  }

  .container-tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .container-projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .container-services {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 650px) {
  .info {
    & > p {
      margin-bottom: 40px;
      max-width: 400px;
    } 
  }
}

@media (max-width: 425px) {
  section > h2 {
    font-size: 0.9rem;
  }

  section > h3 {
    font-size: 1.1rem;
  }

  .info {
    & > img {
      width: 60px;
      outline-width: 1px;
    }

    & > h1 {
      font-size: 0.7em;
      margin-top: 30px;

      & span:nth-of-type(2) {
        font-size: 1.6rem;
      }
    }

    & > p {
      font-size: 0.6rem;
      max-width: 250px;
    } 

    .container-tools {
      gap: 8px;
    }

    .card-tool {
      height: 20px;

      & > img{
        width: 20px;
        padding-left: 5px;
      }
      & > p {
        font-size: 0.5rem;
        padding-right: 5px;
      }
    }

    & i {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  .projects {
    .container-projects{
      margin-block: 30px 144px;
    }
  }


  .contato {
    
    & > p {
      font-size: 0.8rem;
    }

    .container-contatos {
      margin-block: 20px 60px;
    }

    .card-contato {
      width: 300px;
    }
  }
}