@media (max-width: 1090px) {
  .container-projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 956px) {
  .container-services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .info {
    & > h1 {
      font-size: 1em;

      & span:nth-of-type(2) {
        font-size: 3rem;
      }
    }
  }

  .container-tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .container-projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .container-services {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 650px) {
  .info {
    & > p {
      margin-bottom: 40px;
      max-width: 400px;
    } 
  }
}

@media (max-width: 425px) {
  section > h2 {
    font-size: 1.3rem;
  }

  section > h3 {
    font-size: 1.5rem;
  }

  .info {
    & > h1 {
      font-size: 1.1em;
      margin-top: 30px;
    }

    & > p {
      max-width: 400px;
    } 

    .container-tools {
      gap: 8px;
    }
  }

  .projects {
    .container-projects{
      margin-block: 30px 144px;
    }
  }


  .contato {
    .container-contatos {
      margin-block: 40px 60px;
    }

    .card-contato {
      width: 300px;
    }
  }
}